server:
  disable: true
  log_level: {{ promtail_log_level }}

positions:
  filename: {{ promtail_data_folder }}/positions.yaml

clients:
  - url: https://{{ promtail_loki_endpoint }}/loki/api/v1/push
    tls_config:
      ca_file: {{ promtail_folder }}/ca.crt
      cert_file: {{ promtail_folder }}/promtail_{{ inventory_hostname }}.crt
      key_file: {{ promtail_folder }}/promtail_{{ inventory_hostname }}.key

scrape_configs:
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
      - source_labels: ['__journal_priority_keyword']
        target_label: 'level'
    pipeline_stages:
      - match:
          selector: '{job="systemd-journal"}|~"run-docker-runtime.+mount:.Succeeded"'
          action: drop
      - regex:
          expression: level=(?P<level>[^\s]+)
      - regex:
          expression: lvl=(?P<level>[^\s]+)
      - regex:
          expression: ^(?P<level>[W|E|C])\d{4}\s
      - replace:
          source: level
          expression: (W)
          replace: warning
      - replace:
          source: level
          expression: (E)
          replace: error
      - replace:
          source: level
          expression: (C)
          replace: critical
      - labels:
          level:
      - replace:
          expression: (level=[^\s]+\s+)
          replace:
      - replace:
          expression: (lvl=[^\s]+\s+)
          replace:
      - replace:
          expression: (ts=[^\s]+\s+)
          replace:
      - replace:
          expression: ^([W|E|C|I|D]\d{4}\s[\d|:]+\.\d+\s+\d+\s+)
          replace:

  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: containerlogs
          host: {{ inventory_hostname }}
          __path__: /var/lib/docker/containers/*/*log
    pipeline_stages:
      - match:
          selector: '{job="containerlogs"}|~"mosquitto-health"'
          action: drop
      - json:
          expressions:
            log: log
            stream: stream
            timestamp: time
            tag: 'attrs.tag'
      - regex:
          expression: ^image:\s+(?P<container_image>[^,]+),\s+name:\s+(?P<container_name>[^,]+),\s+id:\s+(?P<container_id>.+)$
          source: tag
      - labels:
          log: log
          stream: stream
          timestamp: time
          container_image: container_image
          container_name: container_name
          container_id: container_id
      - timestamp:
          source: timestamp
          format: RFC3339Nano
      - output:
          source: log

          selector: '{job="containerlogs"}'
          pipeline_name: go
          stages:
            - regex:
                expression: level=(?P<level>[^\s]+)
            - regex:
                expression: lvl=(?P<level>[^\s]+)
            - regex:
                expression: ^(?P<level>[W|E|C])\d{4}\s
            - replace:
                source: level
                expression: (W)
                replace: warning
            - replace:
                source: level
                expression: (E)
                replace: error
            - replace:
                source: level
                expression: (C)
                replace: critical
            - labels:
                level:
            - replace:
                expression: (level=[^\s]+\s+)
                replace:
            - replace:
                expression: (lvl=[^\s]+\s+)
                replace:
            - replace:
                expression: (ts=[^\s]+\s+)
                replace:
            - replace:
                expression: ^([W|E|C|I|D]\d{4}\s[\d|:]+\.\d+\s+\d+\s+)
                replace:
      - replace:
          expression: ([\d|-]+\s[\d|:]+\.\d+\s+\w\s+\|\s+)
          replace:
