---
tls_server_config:
  cert_file: "{{ node_exporter_folder }}/node_exporter_{{ inventory_hostname }}.crt"
  key_file: "{{ node_exporter_folder }}/node_exporter_{{ inventory_hostname }}.key"
  client_auth_type: "RequireAndVerifyClientCert"
  client_ca_file: "{{ node_exporter_folder }}/ca.crt"
